Repository dream11/kong-advanced-router, pull requests merged in 2021-11, with the labels that each got.

#8 Feat/add default priority
  kong/plugins/advanced-router/handler.lua
Labels: publish, feature

#6 Docs/improvements
  README.md
  docs/index.md
Labels: publish, fix, docs

#9 README.md fixes
  README.md
  docs/index.md
Labels: fix, docs
